# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
#
node_modules/
npm-debug.log

# Yarn 관련
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-debug.log*
yarn-error.log
yarn-error.log*

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage

# Environment files
.env
.env.local
.env.production
.env.staging

# NativeWind / Tailwind
# 테일러드된 CSS 아웃풋이나 임시 캐시
.tailwindcss
lib/

# OS specific (Windows 사용자 대비)
Thumbs.db
desktop.ini

# VS Code
.vscode/
*.code-workspace

# Byte-compiled / Optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite Database files
*.db
*.db-journal
*.sqlite
*.sqlite-journal